@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --colorgreen: #03a64a;
  --colorred: #f21d2f;
  --colorgreenyoung: #73d99f;
  --colorblue: #2b3a8c;
  --colorwhite: #f2f2f2;
  --toggle: rgba(245, 154, 36);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}
/* 
nav {
  background: #1b1b1b;
}

nav:after {
  content: "";
  clear: both;
  display: table;
}

nav .logo {
  margin-top: 10px;
  padding-left: 60px;
  display: none;
}

nav img {
  width: 180px;
}

nav ul {
  float: right;
  list-style: none;
  margin-right: 40px;
  position: relative;
}

nav ul li {
  float: left;
  display: inline-block;
  background: black;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  line-height: 70px;
  font-size: 18px;
  padding: 8px 15px;
}

nav ul ul {
  position: absolute;
  top: 70px;
  display: none;
}

nav ul ul li {
  position: relative;
  margin: 0px;
  width: 150px;
  float: none;
  display: list-item;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

nav ul ul ul li {
  position: relative;
  top: -70px;
  left: 150px;
} */
#topbar {
  background-color: #73d99f;
  padding: 9px;
}

#topbar .contact-info a {
  line-height: 1;
  color: #f2f2f2;
}
/* Navbar */
.navbar {
  z-index: 100;
}

.clearfix i {
  margin-left: 20px;
}

.dropdown .btn {
  background-color: var(--colorgreenyoung);
  color: black;
}

.dropdown .btn:hover {
  background-color: var(--colorgreen);
}

i.fa.fa-envelope-o {
  margin: 0 10px 0 10px;
}

i.fa.fa-phone-alt.phone-geser {
  margin-left: 20px;
  margin-right: 10px;
}

nav img {
  width: 140px;
}

/* carousel */

/* Tentang Kami */
main .tentangKami {
  margin-top: 100px;
  font-family: "Lato", sans-serif;
}

main .imgRsud {
  width: 20em;
}

main .tittleText {
  font-weight: bold;
  color: var(--colorblue);
}
